@font-face {
    font-family: 'Helvetica Neue';
    src: url( '../../assets/fonts/helvetica-neu.ttf' ) format( 'ttf' );
  }

  $primary-color: #e8c547;
  $secondary-color: #313b72;

.home-page {
    overflow-y: hidden;

    .text-zone {
        left: 100px;
        top: 20%;
        transform: translateY(-50%);
        width: 50%;
        max-height: 90%;
        padding: 100px 0px;
        }
}

    h1 {
        color: white;
        font-family: 'Helvetica Neue';
        text-align: left;
        font-size: 55px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
    }

    h2 {
        font-family: sans-serif;
        font-size: 20px;
        text-align: left;
        margin: auto 20px;
        color: $primary-color;
        animation: fadeIn 2s 1.7s backwards;
    }

    h3 {
        font-family: sans-serif;
        font-size: 20px;
        text-align: left;
        margin: auto 20px;
        color: $primary-color;
    }

    .project-wrapper {
        padding: 20px 20px;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 400px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 20px;
        direction: ltr;
        white-space: nowrap;
        align-items: left;

        .individual-wrapper {
            overflow: hidden;
            background-color: $secondary-color;
            height: 350px;
            width: 300px;
            display: table-cell;
            display: inline-block;
        }
        .text-area {
            width: 100%;
            height: 100%;
            padding: 20px 20px;
            box-sizing: border-box;
        }
        h2 {
            color: $primary-color;
            margin-left: 0px;
        }
        
        h3 {
            text-decoration: none;
            color: white;
            font-size: 20px;
            white-space: wrap;
            text-align: left;
            width: 100%;
            margin-left: 0px;
        }

        p {
            font-size: 14px;
            font-family: Helvetica;
            color: lightgray;
            width: 100%;
            height: 200px;
            left: 0px;
            white-space: wrap;
            text-align: left;
        }
        img {
            color: white;
            height: 35px;
            width: 35px;
            padding: 0px 15px;
        }
    }
    a.flat-button {
        color: $primary-color;
        border: 1px solid $primary-color;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 800;
        font-family: sans-serif;
        text-decoration: none;
        letter-spacing: 3px;
        animation: fadeIn 2s 1.7s backwards;
        margin-bottom: 25px;
        margin-left: 20px;
        float: left;
        width: 75%;
        display: block;
        &:hover {
            color: white;
            background: $primary-color;
        }
    }

