.logo-container {
    img {
        width: 15%;
        height: auto;
        display: block;
        margin: 15px;

    }
    background-size: 15% auto;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 15%;
    margin: auto;
    padding: 15px 15px;
    
    
}